.DS_Store
Makefile
config.h
config.log
config.status
docs/Makefile
docs/html/Makefile
docs/man/Makefile
docs/man/man1/Makefile
docs/man/man3/Makefile
docs/rd/Makefile
examples/Makefile
src/.deps/
src/Makefile
src/*.o
src/mpi_op_fns.c
src/mpi_ruby
stamp-h1
autom4te.cache/
